* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal normal 1em Arial, helvetica, sans-serif;
}
h1 {
  margin: 20px 0 20px 0;
  color: white;
}
body {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: center;
  background-color: rgb(37,37,37);
}
iframe {
  margin: 20px 0 20px 0;
  border-radius: 20px;
}
.link {
  margin: 20px 0 20px 0;
  color: gray;
}
img {
  margin: 20px 0 20px 0;
}
